bin/Debug/netcoreapp2.0/RESTful API.dll
bin/Debug/netcoreapp2.0/RESTful API.pdb
obj/Debug/netcoreapp2.0/RESTful API.dll
obj/Debug/netcoreapp2.0/RESTful API.pdb
obj/Debug/netcoreapp2.0/RESTful API.csproj.CoreCompileInputs.cache
